import("stats", "Formula", "multiwayvcov", "lmtest")

importFrom("grDevices", "dev.flush", "dev.hold", "dev.interactive",
             "devAskNewPage")

importFrom("graphics", "lines", "par", "plot", "plot.new")

export("nndd", 
"nndd_reshape",
"nndd_reshape_other",
"predict_fun_glm",
"nndd_ttest")

S3method("plot", "nndd")
S3method("predict", "nndd")
S3method("print", "nndd")
S3method("t.test", "nndd")
S3method("vcov", "nndd")
S3method("summary","nndd")
S3method("vcov","lmc")
S3method("summary","lmc")






