import("partykit")
import("gamlss.dist")
importFrom("disttree", 
   "make_dist_list"
   )
importFrom("graphics",
  "plot",
  "hist",
  "lines"
)
importFrom("sandwich", 
  "bread", 
  "estfun"
)

importFrom("utils", 
  "getAnywhere")
importFrom("stats",
  "nobs",
  "optim",
  "qnorm", 
  "coef", 
  "family", 
  "integrate",
  "logLik", 
  "predict",
  "as.formula", 
  "weighted.mean",
  "formula", 
  "na.omit", 
  "pnorm", 
  "printCoefmat",
  "quantile", 
  "update",
  "AIC",
  "vcov"
)
importFrom("Formula",
  "as.Formula"
)



export(
  ## core distribution fitting function
  "difit",

  ## distributional tree using 'mob'
  "ditree",

  ## generating optimization control list
  "di_ocontrol",
  
  "getSummary.difit"
)


## methods
S3method("coef", "difit")
S3method("logLik", "difit")
S3method("nobs", "difit")
S3method("predict", "difit")
S3method("estfun", "difit")
S3method("bread", "difit")
S3method("vcov", "difit")
S3method("plot", "difit")
S3method("summary", "difit")
S3method("print", "difit")
S3method("print", "summary.difit")
S3method("residuals", "difit")
S3method("update", "difit")

S3method("print", "ditree")
S3method("coef", "ditree")
S3method("predict", "ditree")
S3method("logLik", "ditree")
S3method("nobs", "ditree")


