import("stats", "Formula")
importFrom("sandwich", "bread", "estfun")
importFrom("numDeriv", "grad", "hessian")

export(
  "hetprobit",
  "hetprobit_control",
  "hetprobit_fit",
  "getSummary.hetprobit"
)

## methods for hetprobit
S3method("bread", "hetprobit")
S3method("coef", "hetprobit")
S3method("estfun", "hetprobit")
S3method("logLik", "hetprobit")
S3method("model.frame", "hetprobit")
S3method("model.matrix", "hetprobit")
S3method("predict", "hetprobit")
S3method("print", "hetprobit")
S3method("print", "summary.hetprobit")
S3method("residuals", "hetprobit")
S3method("summary", "hetprobit")
S3method("terms", "hetprobit")
S3method("update", "hetprobit")
S3method("vcov", "hetprobit")
