import("stats","numDeriv")

export(
  "GmmEst",
  "GmmEst_control"
)

## methods for GmmEst
S3method("coef", "GmmEst")
S3method("nobs", "GmmEst")
S3method("vcov", "GmmEst")
S3method("print", "GmmEst")
