import("stats", "Formula")
importFrom("numDeriv", "grad", "hessian")

export(
  "negbin1",
  "negbin1_fit",
  "negbin1_control"
)

S3method("logLik", "negbin1")
S3method("model.frame", "negbin1")
S3method("model.matrix", "negbin1")
S3method("predict", "negbin1")
S3method("print", "negbin1")
S3method("terms", "negbin1")

